# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Python application
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
permissions:
  contents: read
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.14", "3.15"]
    steps:

    - uses: actions/checkout@v4
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --locked --all-extras --dev
    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        uv run ruff check --select=E9,F63,F7,F82 .
        # check all errors, but with a wider line length
        uv run ruff check --line-length=127 .
    - name: Run tests
      run: uv run pytest tests
